<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
      @RenderSection("meta", required: false)
      <title>@ViewData["title"] - Kolan</title>
      <link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
      @RenderSection("head", required: false)
      @{
        string themeName = Context.Request.Cookies["theme"] ?? "dark";
        string styleSheetName = $"/css/{ViewData["style"]}.{themeName}.css";
      }
      @if (@ViewData["style"] != null) { <link rel="stylesheet" type="text/css" href="@styleSheetName"> }
   </head>
   <body id='@ViewData["name"]'>
       <div id="themeTester"></div>
       @RenderBody()
   </body>
</html>