<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
      @RenderSection("meta", required: false)
      <title>@ViewData["title"] - Kolan</title>
      <link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
      @RenderSection("head", required: false)
      @if (Context.Request.Cookies["theme"] != null && @ViewData["style"] != null)
      {
          @Html.Raw($"<link rel='stylesheet' type='text/css' href='/css/{@ViewData["style"]}.{Context.Request.Cookies["theme"]}.css'>")
      }
   </head>
   <body id='@ViewData["name"]'>
       <div id="themeTester"></div>
       @RenderBody()
   </body>
</html>